<div class="medical-data-container">
  <div *ngIf="!medicalData" class="no-data">
    <p>No medical data available.</p>
  </div>
  
  <div *ngIf="medicalData" class="data-sections">
    <div *ngIf="medicalData.age || medicalData.sex" class="data-section">
      <h4 class="section-header">Demographics</h4>
      <div class="data-content">
        <p *ngIf="medicalData.age" class="data-item">Age: {{medicalData.age}}</p>
        <p *ngIf="medicalData.sex" class="data-item">Sex: {{medicalData.sex}}</p>
      </div>
    </div>
    
    <div *ngIf="medicalData.primary_condition" class="data-section">
      <h4 class="section-header">Primary Diagnosis</h4>
      <div class="data-content">
        <p class="data-item">{{medicalData.primary_condition}}</p>
      </div>
    </div>
    
    <div *ngIf="medicalData.comorbidities && medicalData.comorbidities.length > 0" class="data-section">
      <h4 class="section-header">Symptoms</h4>
      <div class="data-content">
        <ul class="data-list">
          <li *ngFor="let condition of medicalData.comorbidities" class="list-item">{{condition}}</li>
        </ul>
      </div>
    </div>
    
    <div *ngIf="medicalData.current_medications && medicalData.current_medications.length > 0" class="data-section">
      <h4 class="section-header">Current Medications</h4>
      <div class="data-content">
        <ul class="data-list">
          <li *ngFor="let medication of medicalData.current_medications" class="list-item">{{medication}}</li>
        </ul>
      </div>
    </div>
    
    <div *ngIf="medicalData.intervention_interest" class="data-section">
      <h4 class="section-header">Intervention</h4>
      <div class="data-content">
        <p class="data-item">{{medicalData.intervention_interest}}</p>
      </div>
    </div>
  </div>
</div>